@import 'compass';
@import 'fancy-buttons';

$default-color: #aaa;

// Creates a fancy button, respecting the vertical rhythm
// by adjusting the padding and margin.
@mixin button(
  $font-size,
  $color: $default-color
) {
  $lines: 1;
  $margin: .65;
  $padding: $lines - $margin;

  @include fancy-button($color);
  @include adjust-font-size-to($font-size);
  @include margin-leader($margin, $font-size);
  @include margin-trailer($margin, $font-size);
  @include horizontal-borders(1px, $padding, $font-size);
  font-weight: normal;
}

