// http://www.google.com/webfonts#UsePlace:use/Collection:Open+Sans:400,600,700
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import 'compass';
@import 'susy';
@import 'modular-scale';

@include establish-baseline;

body {
  font-family: $sans-serif-font-family;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: transparent;
}

p {
  @include margin-trailer;
}

p:last-of-type {
  margin-bottom: 0;
}

h1 {
  @include margin-leader(1, ms(3));;
  @include adjust-font-size-to(ms(3));
  font-weight: 600;
}

// h2 {
//   @include margin-leader(1, ms(2));;
//   @include adjust-font-size-to(ms(2));
// }
//
// h3 {
//   @include margin-leader(1, ms(1));;
//   @include adjust-font-size-to(ms(1));
// }
//
// h4 {
//   @include margin-leader(1, ms(-1));;
//   @include adjust-font-size-to(ms(-1));
// }

ul {
  @include margin-trailer(1);
  list-style-type: disc;
  margin-left: 1em;
}

li {
  margin-left: 1em;
  padding-left: .5em;
}

a {
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 80px;
  height: auto;
}

::selection, ::-moz-selection {
//text-shadow: none;
}

@include at-breakpoint($break-1) {
  img {
    max-width: 160px;
  }
}

@include at-breakpoint($break-2) {
  img {
    max-width: 100%;
  }
}
