@import 'susy';

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break          : 12;


#page_container {
  @include container;
  /*@include susy-grid-background;*/
}
#page {
  @include prefix(2);
}

@include at-breakpoint($break) {
  #page_container {
    position: relative;
    /*@include susy-grid-background;*/
    @include set-container-width;
  }
  #page {
    @include prefix(2, $break);
  }
  #menu {
    position: absolute;
    left: $gutter-width;
    top: rhythm(10);
  }
}
