@import 'susy';

/*$total-columns  : 7;*/
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

/*$break-1        : 9;*/
/*$break-2        : 12;*/

#page_container {
  @include container($break-1, $break-2);
  /*@include susy-grid-background;*/
}

@include at-breakpoint($break-1) {
  #page_container {
    /*@include susy-grid-background;*/
  }
}

@include at-breakpoint($break-2) {
  #page_container {
    /*@include susy-grid-background;*/
    position: relative;
  }
  #page {
    @include prefix(2, $break-2);
  }
}
