@import 'compass/typography/vertical_rhythm';
@import 'compass/typography/lists/bullets';

ul#clients {
  @include no-bullets;
  margin: 0;

  li {
    padding: 0;
    clear: both;
    overflow: auto;
    min-height: rhythm(7);
    @include rhythm(0,1,1,0);
    &:first-child {
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
    }
    h3 {
      @include adjust-font-size-to(ms(1), 2);
      @include text-shadow;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
