@import 'compass/css3/text-shadow';

@include at-breakpoint($break) {
  #header {
    @include prefix(3, $break);
    height: rhythm(6);
    h1 {
      @include text-shadow;
    }
    h1, h2 {
      text-align: center;
      a:hover {
        text-decoration: none;
      }
    }
  }
}
