@include at-breakpoint($break) {
  #header {
    @include prefix(3, $break);
    background: image-url('lauyon2klein.jpeg') no-repeat;
    height: rhythm(6);
    h1, h2 {
      text-align: center;
      &, a {
        color: gray;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}
