@import 'compass';

#header {
  text-align: center;
  @include padding-leader(2);
  h1 {
    margin-top: 0;
    letter-spacing: -1px;
    @include text-shadow;
  }
  h1, h2 {
    a {
      display: block;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

@include at-breakpoint($break-1) {
  #header {
    @include padding-leader(0);
    height: rhythm(6);
    h1, h2 {
      text-indent: space(2, $break-1);
    }
    h1 {
      letter-spacing: 0;
      @include margin-leader(1, ms(3));;
    }
  }
}

@include at-breakpoint($break-2) {
  #header {
    h1, h2 {
      text-indent: space(2, $break-2);
    }
  }
}
