@import 'compass/css3/box-shadow';

img.image-align-left, img.image-align-right {
  padding: 6px;
  border: 1px solid;
  @include box-shadow;
}
img.image-align-left {
  margin-right: 2em;
}

img.image-align-right {
  margin-left: 2em;
}
