@import 'compass/typography/vertical_rhythm';
@import 'mixins/form';
@import 'mixins/button';

form.new_inquiry {
  @include rhythm(.5, 0, 0, .5);
  label {
    display: none;
  }
  input[type='text'], input[type='email'], textarea {
    @include input(ms(0));
    width: 24em;
    padding: {
      left: .5em;
      right: .5em;
    }
  }
  .message_field {
    margin-bottom: -6px;
  }
  input[type='submit'] {
    @include button(ms(0));
  }
}
