@import 'compass';
@import 'mixins/form';
@import 'mixins/button';

form.new_inquiry {
  @include rhythm(.5, 0, 0, .5);
  label {
    display: none;
  }
  input[type='text'], input[type='email'], textarea {
    @include input(ms(0));
    width: 100%;
    @include box-sizing(border-box);
    padding: {
      left: .5em;
      right: .5em;
    }
  }
  .message_field {
    margin-bottom: -6px;
  }
  input[type='submit'] {
    @include button(ms(0));
  }
}

@include at-breakpoint($break-1) {
  form.new_inquiry {
    input[type='text'], input[type='email'], textarea {
      width: 24em;
      @include box-sizing(content-box);
    }
  }
}
