@import 'compass/typography/lists/bullets';
@import 'compass/typography/vertical_rhythm';

#menu {
  ul {
    @include no-bullets;
    margin: rhythm(.5) 0;
    li {
      padding: 0;
      &.selected {
        a {
          @include text-shadow;
        }
      }
      a {
        font-weight: 700;
        text-decoration: none;
        @include adjust-font-size-to(ms(1), 2);
      }
    }
  }
}
