#menu {
  background: url(/assets/lauyon-mini.jpg) 4px 4px no-repeat white;
  ul {
    li {
      &.selected {
        a {
          color: $base-color;
          @include text-shadow($shade 0px 1px 1px);
        }
      }
    }
  }
}

@include at-breakpoint($break-1) {
  #menu {
    background: none;
  }
}

