@import 'compass';

$base-color: #DA004C; // pink
$color-variant1: #808080; // grey
$color-variant2: #F5F5F5; // lighter grey

$input-background-color: $color-variant2;
$button-foreground-color: $color-variant1;
$selected-input-border-color: rgba($base-color, .7);
$border-color: $color-variant2;

$shade: rgba(black, .3);

@mixin header-shadow {
  @include text-shadow($shade 0px 1px 3px);
}

a {
  &:link, &:visited {
    color: $color-variant1;
  }
  &:hover {
    color: $base-color;
  }
}

// Modules
@import 'header';
@import 'body_content';
@import 'clients';
@import 'footer';
@import 'image';
@import 'menu';
@import 'inquiries';
@import 'partners';
